* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Kubic;
}

.loading-display {
  background-color: rgba(0, 0, 0, 0.753);
  position: fixed;
  inset: 0 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.loading-display div {
  width: 100%;
}

.loading-display div p {
  text-align: center;
  color: white;
}

.loading-display div hr {
  float: left;
  width: 5%;
  -webkit-animation: linear 3s rotate-anim infinite;
          animation: linear 3s rotate-anim infinite;
}

body {
  background-color: #f1efef;
}

body main {
  background-color: white;
  width: 90%;
  margin: 20px auto;
  border-radius: 15px;
}

body main header h1 {
  text-align: center;
  padding: 20px;
}

body main header h1::first-letter {
  font-size: 1.5em;
  color: #09ff00;
}

body main .login-page, body main .signup-page {
  padding: 2%;
}

body main .login-page h1, body main .signup-page h1 {
  text-align: center;
  padding: 20px 0;
}

body main .login-page input, body main .signup-page input {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-width: 1px;
  font-size: 20px;
  padding: 0 10px;
  color: #424957;
}

body main .login-page label, body main .signup-page label {
  color: #424957;
  display: inline-block;
  margin: 10px 0;
}

body main .login-page input[type=submit], body main .signup-page input[type=submit] {
  color: black;
  height: 40px;
  margin-top: 10px;
}

body main .login-page p, body main .signup-page p {
  text-align: center;
}

body main .login-page .forgot-psw, body main .signup-page .forgot-psw {
  margin-top: 20px;
}

body main .login-page .new-here, body main .signup-page .new-here {
  margin-top: 10px;
  margin-bottom: 50px;
}

body main .signup-page .alternative-signup {
  margin: 20px auto 50px auto;
}

body main .signup-page .alternative-signup button {
  width: 50%;
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
}

body main .home-not-logged-in {
  padding: 15px;
}

body main .home-not-logged-in .welcome-msg {
  margin-bottom: 10px;
  text-align: center;
  border: 2px dashed #f83030;
  border-radius: 20px 0 10px 0;
  background-color: #5beea9;
  padding: 20px 5px;
}

body main .home-not-logged-in .difficulties, body main .home-not-logged-in .categories {
  margin-bottom: 10px;
  text-align: center;
  border: 2px dashed #f83030;
  border-radius: 20px 0 10px 0;
  background-color: #5beea9;
  padding: 20px;
}

body main .home-not-logged-in .difficulties h3, body main .home-not-logged-in .categories h3 {
  color: black;
  padding-bottom: 20px;
  border-bottom: 1px solid red;
}

body main .home-not-logged-in .difficulties ul, body main .home-not-logged-in .categories ul {
  margin-top: 10px;
  list-style-type: none;
}

body main .home-not-logged-in .difficulties ul li, body main .home-not-logged-in .categories ul li {
  margin: 5px auto;
  border-bottom: blue 1px solid;
}

body main .home-not-logged-in .btn-get-started {
  background-color: #09ff00;
  color: white;
  border-radius: 5px;
  font-weight: 900;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

body main .questions {
  padding: 2%;
}

body main .questions h2 {
  text-align: center;
  padding: 15px 0;
  border-bottom: 2px solid #09ff00;
  margin-bottom: 30px;
}

body main .questions .question .q-number, body main .questions .question .answers li span {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #09ff00;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
  font-size: 1.7em;
  margin-right: 10px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 1px red;
          box-shadow: 0 1px red;
  padding: 2px 0;
  color: white;
  text-shadow: 2px 2px #f83030;
}

body main .questions .question .answers {
  margin: 10px 0 25px 0;
}

body main .questions .question .answers li {
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  color: #424957;
  border: 2px solid #a9aeb8;
  border-radius: 8px;
  font-weight: bold;
}

body main .questions .question .answers li:hover {
  cursor: pointer;
}

body main .questions .question .answers li:hover span {
  background-color: #09ff00;
}

body main .questions .question .answers li span {
  width: 20px;
  height: 20px;
  font-size: 16px;
  text-shadow: 1px 1px #f83030;
  background-color: #a9aeb8;
}

body main .questions .question .answers li .selected-answer {
  background-color: #09ff00;
}

body main .questions .question .answers .correct-answer {
  border-color: #09ff00;
  color: #09ff00;
}

body main .questions .question .answers .correct-answer span {
  background-color: #09ff00;
}

body main .questions .question .answers .wrong-answer {
  border-color: #f83030;
  color: #f83030;
}

body main .questions .question .answers .wrong-answer span {
  background-color: #f83030;
  -webkit-box-shadow: 1px 1px #09ff00;
          box-shadow: 1px 1px #09ff00;
}

body main .questions .result {
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  background-color: #09ff00;
  border-radius: 10px;
  font-weight: bold;
  -webkit-animation: opacity-anim 1s ease-in;
          animation: opacity-anim 1s ease-in;
}

body main .questions .result progress {
  -webkit-animation: opacity-anim 1s ease-in;
          animation: opacity-anim 1s ease-in;
  width: 100%;
  height: 20px;
}

body main .questions .btn-submit {
  background-color: #09ff00;
  color: white;
  border-radius: 5px;
  font-weight: 900;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

body main .alert-box {
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(128, 128, 128, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-animation: opacity-anim 1s ease-in-out;
          animation: opacity-anim 1s ease-in-out;
}

body main .alert-box div {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
}

body main .alert-box div p:first-child {
  font-size: 1.5em;
  font-weight: bold;
}

body main .alert-box div hr {
  margin: 10px 0 30px 0;
}

body main .alert-box div p:last-child {
  text-align: center;
  margin-bottom: 20px;
}

@-webkit-keyframes opacity-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotate-anim {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background-color: blue;
  }
}

@keyframes rotate-anim {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background-color: blue;
  }
}
/*# sourceMappingURL=index.css.map */