$primary-color : (
  dark-chartreuse: rgb(9, 255, 0),
  light-chartreuse: rgb(156, 245, 68),
  lightred: rgb(248, 48, 48),
  home-bg: rgb(91, 238, 169)
);

$neutral-color : (
  dark-grayish-blue: rgb(66, 73, 87),
  grayish-blue: rgb(169, 174, 184),
  light-gainsboro: rgb(241, 239, 239)
);
@function primary-color($c) {
  @return map-get($map: $primary-color, $key: $c)
};
@function neutral-color($c) {
  @return map-get($map: $neutral-color, $key: $c)
};

@mixin btn-style {
  background-color: primary-color(dark-chartreuse);
  color: white;
  border-radius: 5px;
  font-weight: 900;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kubic;
}

.loading-display {
  background-color: rgba(0, 0, 0, 0.753);
  position: fixed;
  inset: 0 0;
  display: grid;
  place-items: center;
  div {
    width: 100%;
    p {
      text-align: center;
      color: white;
    }
    hr {
      float: left;
      width: 5%;
      animation: linear 3s rotate-anim infinite;
    }
  }
}

body {
  background-color: map-get($map: $neutral-color,$key: light-gainsboro);
  main {
    background-color: white;
    width: 90%;
    margin: 20px auto;
    border-radius: 15px;
    header {
      h1 {
        text-align: center;
        padding: 20px;
        &::first-letter {
          font-size: 1.5em;
          color: primary-color(dark-chartreuse);
        }
      }
    }
    .login-page {
      padding: 2%;
      h1 {
        text-align: center;
        padding: 20px 0;
      }
      input {
        width: 100%;
        height: 35px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-width: 1px;
        font-size: 20px;
        padding: 0 10px;
        color: map-get($map: $neutral-color, $key: dark-grayish-blue);
      }
      label {
        color: map-get($map: $neutral-color, $key: dark-grayish-blue);
        display: inline-block;
        margin: 10px 0;
      }
      input[type=submit] {
        color: black;
        height: 40px;
        margin-top: 10px;
      }
      p {
        text-align: center;
      }
      .forgot-psw {
        margin-top: 20px;
      }
      .new-here {
        margin-top: 10px;
        margin-bottom: 50px;
      }
    }
    .signup-page {
      @extend .login-page;
      .alternative-signup {
        margin: 20px auto 50px auto;
        button {
          width: 50%;
          height: 40px;
          font-size: 20px;
          margin-top: 10px;
        }
      }
    }

    .home-not-logged-in {
      padding: 15px;
      .welcome-msg {
        margin-bottom: 10px;
        text-align: center;
        border: 2px dashed primary-color(lightred);
        border-radius: 20px 0 10px 0;
        background-color: primary-color(home-bg);
        padding: 20px 5px;
      }
      .difficulties, .categories {
        margin-bottom: 10px;
        text-align: center;
        border: 2px dashed primary-color(lightred);
        border-radius: 20px 0 10px 0;
        background-color: primary-color(home-bg);
        padding: 20px;
        h3 {
          color: black;
          padding-bottom: 20px;
          border-bottom: 1px solid red;
        }
        ul {
          margin-top: 10px;
          list-style-type: none;
          li {
            margin: 5px auto;
            border-bottom: blue 1px solid;
          }
        }
      }
      .btn-get-started {
        @include btn-style();
      }
    }
    .questions {
      padding: 2%;
      h2 {
        text-align: center;
        padding: 15px 0;
        border-bottom: 2px solid primary-color(dark-chartreuse);
        margin-bottom: 30px;
      }
      .question {
        .q-number {
          display: inline-block;
          width: 35px;
          height: 35px;
          background-color: primary-color(dark-chartreuse);
          border-radius: 50%;
          text-align: center;
          font-weight: 900;
          font-size: 1.7em;
          // 20 minutes...
          margin-right: 10px;
          margin-bottom: 5px;
          box-shadow: 0 1px red;
          padding: 2px 0;
          color: white;
          text-shadow: 2px 2px primary-color(lightred);
        }
        .answers {
          margin: 10px 0 25px 0;
          li {
            list-style-type: none;
            padding: 5px;
            margin: 5px;
            color: neutral-color(dark-grayish-blue);
            border: 2px solid neutral-color(grayish-blue);
            border-radius: 8px;
            font-weight: bold;
            &:hover {
              cursor: pointer;
              span {
                background-color: primary-color(dark-chartreuse);
              }
            }
            span {
              @extend .q-number;
              width: 20px;
              height: 20px;
              font-size: 16px;
              text-shadow: 1px 1px primary-color(lightred);
              background-color: neutral-color(grayish-blue);
            }
            .selected-answer {
              background-color: primary-color(dark-chartreuse);
            }
          }
          .correct-answer {
            border-color: primary-color(dark-chartreuse);
            color: primary-color(dark-chartreuse);
            span {
              background-color: primary-color(dark-chartreuse);
            }
          }
          .wrong-answer {
            border-color: primary-color(lightred);
            color: primary-color(lightred);
            span {
              background-color: primary-color(lightred);
              box-shadow: 1px 1px primary-color(dark-chartreuse);
            }
          }
        }
      }
      .result {
        margin: 20px 0;
        padding: 20px;
        text-align: center;
        background-color: primary-color(dark-chartreuse);
        border-radius: 10px;
        font-weight: bold;
        animation: opacity-anim 1s ease-in;
        progress {
          animation: opacity-anim 1s ease-in;
          width: 100%;
          height: 20px;
        }
      }
      .btn-submit {
        @include btn-style();
      }
    }
    .alert-box {
      position: fixed;
      inset: 0 0 0 0;
      background-color: rgba(128, 128, 128, 0.5);
      display: grid;
      place-items: center;
      animation: opacity-anim 1s ease-in-out;
      div {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        width: 250px;
        p:first-child {
          font-size: 1.5em;
          font-weight: bold;
        }
        hr {
          margin: 10px 0 30px 0;
        }
        p:last-child {
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@keyframes opacity-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    background-color: blue;
  }
}